@font-face {
    font-family: givenFont;
    src: url(https://fonts.google.com/specimen/Karla);
  }

body {
    background-color: rgb(229, 240, 246);
    margin-left: 0px;
    display: flex;
    align-items: center;
}

.head {
    color: hsl(179, 62%, 43%);
    text-align: left;
    font-family: givenFont,sans-serif;
    margin-left: 25px;
    margin-top: 30px;
}

.mid {
    font-family: givenFont,sans-serif;
    margin-left: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}
p.mid {
    margin-top: -10px;
}

.main {
    font-family: givenFont,sans-serif;
    display: flex;
    flex-wrap: wrap;
    /* margin-left: 0px; */
}

.ll {
    background-color: hsl(179, 62%, 43%);
    color: hsl(204, 43%, 93%);
    padding: 20px;
    padding-left: 43px;
    padding-right: 43px;
}

p.main {
    margin-top: 20px;
}

.lr {
    background-color: hsl(179, 65%, 45%);
    color: hsl(204, 43%, 93%);
    padding: 30px;
    padding-right: 90px;
    padding-left: 35px;
}
.text1 {
    color: hsl(71, 73%, 54%);
}

.text2 {
    color: hsl(218, 22%, 67%);
    font-size: 16px;
}
.button {
    background-color: hsl(71, 73%, 54%);
    font-weight: 400;
    color: hsl(206, 37%, 96%);
    padding: 5px;
    text-align: center;
    font-size: large;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-weight: 800;
    box-shadow: 1px 1px 1px 1px gray;
}

.button:hover {
    background-color: hwb(71 25% 22%);
    transition-duration: 0.3s;
    transform: scale(1.02);
}

.why {
    color: hsl(204, 43%, 93%);
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 10px;
}

.lists {
    color: hsl(201, 22%, 85%);
}
p.lists {
    margin-top: -10px;
}

.duration {
    display: flex;
    flex-wrap: wrap;
    color: rgb(193, 204, 214);
}

.cost {
    font-size: xx-large;
    font-weight: 800;
    color: white;
}

.major1 {
    background-color: white;
    border-radius: 7px;
    box-shadow: 1px 1px 1px 1px rgb(169, 168, 168);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0 auto;
}
